footer.footer
  div.container
    div.footer__wrap
      p 2021, mmabethunter
      a(href="#").footer__telega
        <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.41694 13.181L9.01994 18.765C9.58794 18.765 9.83394 18.521 10.1289 18.228L12.7919 15.683L18.3099 19.724C19.3219 20.288 20.0349 19.991 20.3079 18.793L23.9299 1.82104L23.9309 1.82004C24.2519 0.324039 23.3899 -0.260961 22.4039 0.106039L1.11393 8.25704C-0.339066 8.82104 -0.317066 9.63104 0.866934 9.99804L6.30993 11.691L18.9529 3.78004C19.5479 3.38604 20.0889 3.60404 19.6439 3.99804L9.41694 13.181Z" fill="white"/>
        </svg> telegram_bot
