header.header
  div.container
    .header__wrap
      img.header__logo(src="/img/logo.svg" alt="")
      ul.header__menu
        li.active
          a(href='#') Home
        li
          a(href='#') forecasts
        li
          a(href='#') fighters
        li
          a(href='#') Promotions
