div.container
  div.header-bet
      span.header-bet__subtitle Предстоящий Кард
      h1.header-bet__name <span>UFC Fight Night</span> 156 Ngannu vs Overeem
      span.header-bet__time начнётся через <span>2 дня 30 минут</span>
