div.container
  div.predict
    div.predict__head
      h2.predict__head-title Прогнозы
      a(href='#').predict__head-link Все прогнозы

    div.predict-wrap
      - for (let x = 0; x < 3; x++)
        a(href="#").predict-item
          span.predict-item__title Ян Блахович — Исраэль Адесанья
          span.predict-item__subtitle Основной Кард / 28.02.21 / 04:00 MSK
          span.predict-item__text А вот по мнению аналитиков структура рынка притягивает фирменный стиль. Размещение стабилизирует сегмент рынка, не считаясь с затратами. Лидерство в продажах парадоксально обуславливает креативный целевой сегмент рынка.
