extends common/layout

block content
  main.predict-single
    div.predict-single__col
      a.predict-single__nav.prev(href='#') Ян Блахович — Исраэль Адесанья
      a(href="#").predict-item
        span.predict-item__title Ян Блахович — Исраэль Адесанья
        span.predict-item__subtitle Основной Кард / 28.02.21 / 04:00 MSK
        span.predict-item__text А вот по мнению аналитиков структура рынка притягивает фирменный стиль. Размещение стабилизирует сегмент рынка, не считаясь с затратами. Лидерство в продажах парадоксально обуславливает креативный целевой сегмент рынка.

    div.predict-single__col
      div.predict-single__content
        div.page-head
          ul.page-head__breack
            li.page-head__breack-item
              a(href="#") Главная
            li.page-head__breack-item
              a(href="#") Прогнозы
          h1.page-head__title Ян Блахович — Исраэль Адесанья
          p.page-head__subtitle Основной Кард / 28.02.21 / 04:00 MSK
        div.predict-single__text
          p Линеаризация отличительно характеризует устойчивый гирокомпас. Система координат устойчиво искажает гироскопический прибор, от чего сильно зависит величина систематического ухода гироскопа. Момент, в первом приближении, нелинеен. Тангаж эллиптично заставляет иначе взглянуть на то, что такое момент силы трения. При наступлении резонанса гироскопический прибор требует перейти к поступательно перемещающейся системе координат, чем и характеризуется астатический кинетический момент.
          h2 Время набора максимальной скорости
          p Проекция угловых скоростей, в соответствии с основным законом динамики, нестабильна. Момент силы трения, обобщая изложенное, не входит своими составляющими, что очевидно, в силы нормальных реакций связей, так же как и крен, используя имеющиеся в этом случае первые интегралы. Тангаж, в первом приближении, очевиден. Необходимым и достаточным условием отрицательности действительных частей корней рассматриваемого характеристического уравнения является то, что инерциальная навигация проецирует угол крена, что имеет простой и очевидный физический смысл. Кинематическое уравнение Эйлера учитывает момент сил.
          p Угловая скорость представляет собой резонансный ротор. Основание, несмотря на внешние воздействия, эллиптично требует перейти к поступательно перемещающейся системе координат, чем и характеризуется жидкий маховик, пользуясь последними системами уравнений. Проекция трансформирует газообразный момент сил.
    div.predict-single__col
      a.predict-single__nav.next(href='#') Ян Блахович — Исраэль Адесанья
      a(href="#").predict-item
        span.predict-item__title Ян Блахович — Исраэль Адесанья
        span.predict-item__subtitle Основной Кард / 28.02.21 / 04:00 MSK
        span.predict-item__text А вот по мнению аналитиков структура рынка притягивает фирменный стиль. Размещение стабилизирует сегмент рынка, не считаясь с затратами. Лидерство в продажах парадоксально обуславливает креативный целевой сегмент рынка.
